subflow.json
{

    "id": "5b5a5284.b8c9bc",
    "type": "subflow",
    "name": "Create bot & Invite to room",
    "info": "This subflow takes in two variables\n\nmsg.app_name = Name of the Bot </br>\nmsg.app_avatar = Avatar of the Bot",
    "category": "",
    "in": [
        {
            "x": 240,
            "y": 180,
            "wires": [
                {
                    "id": "a57e3421.78bfa8"
                }
            ]
        }
    ],
    "out": [
        {
            "x": 970,
            "y": 400,
            "wires": [
                {
                    "id": "dbca7ab0.c7c7d8",
                    "port": 0
                }
            ]
        },
        {
            "x": 860,
            "y": 540,
            "wires": [
                {
                    "id": "1eeaa592.63a59a",
                    "port": 0
                }
            ]
        },
        {
            "x": 1220,
            "y": 140,
            "wires": [
                {
                    "id": "97bfd81b.808f78",
                    "port": 0
                }
            ]
        }
    ],
    "env": [],
    "meta": {
        "module": "node-red-tekos-create-bot-in-matrix",
        "type": "tekos-matrix-bot",
        "version": "1.0.0",
        "author": "Marcin <marcin@tekos.co>",
        "desc": "Subflow to create a new Bot in the Tekos Matrix Server",
        "keywords": "Tekos, Chat, Matrix, node-red",
        "license": "MIT"
    },
    "color": "#3FADB5",
    "outputLabels": [
        "Bot is invited to room",
        "Bot creates room",
        "Image preview"
    ],
    "icon": "node-red-contrib-chatbot/chatbot-card.png",


"flow": [
    {
        "id": "a57e3421.78bfa8",
        "type": "function",
        "z": "5b5a5284.b8c9bc",
        "name": "Preapare Bot",
        "func": "let flow_bot_id = flow.get(\"$parent.bot.bot_id\");\nif(flow_bot_id!=undefined){\n    botid = flow_bot_id\n    return[msg,null]\n} else{\n  var botid = Math.random().toString(36).substring(7);\n  var password = Math.random().toString(36).substring(7);\n}\n\nmsg.check_room_id = flow.get('$parent.room_id')\n\n\nvar name = msg.payload.name;\nmsg.url = \"https://\"+env.get('BASE_URL')+'/_matrix/client/r0/register?kind=user'\n\n\nmsg.payload = {\n    \"password\": password,\n    \"username\": botid+\"_app\",\n    \"display_name\": msg.app_name ? msg.app_name : 'My best app',\n    \"auth\": {\n        \"type\":\"m.login.dummy\"\n    }\n}\n\nreturn [null,msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 345,
        "y": 172,
        "wires": [
            [
                "961fd5fa.cedaa8",
                "3dc56879.8d0568"
            ],
            [
                "e6cf77e4.d3db98",
                "c359a923.177f28"
            ]
        ],
        "l": false
    },
    {
        "id": "b7102169.fba6c",
        "type": "switch",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "property": "payload.errcode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "M_USER_IN_USE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "M_INVALID_USERNAME",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 475,
        "y": 260,
        "wires": [
            [
                "a57e3421.78bfa8",
                "a3820964.34a858"
            ],
            [
                "a57e3421.78bfa8",
                "a3820964.34a858"
            ],
            [
                "679cf446.3bb3bc",
                "d525886b.7baaf8"
            ]
        ],
        "l": false
    },
    {
        "id": "a3820964.34a858",
        "type": "debug",
        "z": "5b5a5284.b8c9bc",
        "name": "Error while creating a bot",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 595,
        "y": 180,
        "wires": [],
        "l": false
    },
    {
        "id": "e6cf77e4.d3db98",
        "type": "http request",
        "z": "5b5a5284.b8c9bc",
        "name": "TEKOS API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 395,
        "y": 260,
        "wires": [
            [
                "b7102169.fba6c"
            ]
        ],
        "l": false
    },
    {
        "id": "679cf446.3bb3bc",
        "type": "debug",
        "z": "5b5a5284.b8c9bc",
        "name": "Successful bot creation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 575,
        "y": 240,
        "wires": [],
        "l": false
    },
    {
        "id": "8711640c.fe3cc8",
        "type": "comment",
        "z": "5b5a5284.b8c9bc",
        "name": "Get the APP credentials (dummy bot id with custom name)",
        "info": "",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "d525886b.7baaf8",
        "type": "change",
        "z": "5b5a5284.b8c9bc",
        "name": "set bot_id",
        "rules": [
            {
                "t": "set",
                "p": "bot_id",
                "pt": "msg",
                "to": "payload.user_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "bot_access_token",
                "pt": "msg",
                "to": "payload.access_token",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 228,
        "wires": [
            [
                "66a1f784.267978"
            ]
        ]
    },
    {
        "id": "c359a923.177f28",
        "type": "debug",
        "z": "5b5a5284.b8c9bc",
        "name": "Creation of the bot",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 395,
        "y": 300,
        "wires": [],
        "l": false
    },
    {
        "id": "596e0a9e.cad3a4",
        "type": "function",
        "z": "5b5a5284.b8c9bc",
        "name": "Invite bot",
        "func": "msg.url =  \"https://\"+env.get('BASE_URL')+'/_matrix/client/r0/rooms/'+flow.get('$parent.room_id')+'/invite?access_token='+global.get('user_access_token')\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\n\nmsg.payload={\n  \"user_id\": msg.bot_id\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 400,
        "wires": [
            [
                "18900f06.373351"
            ]
        ]
    },
    {
        "id": "18900f06.373351",
        "type": "http request",
        "z": "5b5a5284.b8c9bc",
        "name": "TEKOS API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 625,
        "y": 400,
        "wires": [
            [
                "fd9a3d78.ca95f",
                "7e01cf36.991e1"
            ]
        ],
        "l": false
    },
    {
        "id": "fd9a3d78.ca95f",
        "type": "debug",
        "z": "5b5a5284.b8c9bc",
        "name": "Invite bot",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 685,
        "y": 440,
        "wires": [],
        "l": false
    },
    {
        "id": "7e01cf36.991e1",
        "type": "function",
        "z": "5b5a5284.b8c9bc",
        "name": "Bot join room",
        "func": "msg.url = \"https://\"+env.get('BASE_URL')+'/_matrix/client/r0/join/' +flow.get('$parent.room_id')+ '?access_token='+msg.bot_access_token\nmsg.headers ={\n //   \"Authorization\" : \"Bearer sk_test_LYtqjhDKfkXv3fOmb4PT4va400SSWORV4p\",\n    \"Content-type\": \"application/json\"\n}\nmsg.room_id = flow.get('$parent.room_id');\nflow.set(\"$parent.bot.default_room\",msg.room_id)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 400,
        "wires": [
            [
                "dbca7ab0.c7c7d8"
            ]
        ]
    },
    {
        "id": "dbca7ab0.c7c7d8",
        "type": "http request",
        "z": "5b5a5284.b8c9bc",
        "name": "TEKOS API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 885,
        "y": 400,
        "wires": [
            [
                "7c55bbb3.c06404"
            ]
        ],
        "l": false
    },
    {
        "id": "7c55bbb3.c06404",
        "type": "debug",
        "z": "5b5a5284.b8c9bc",
        "name": "Bot joins the room",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 945,
        "y": 440,
        "wires": [],
        "l": false
    },
    {
        "id": "f83e44bf.4b6e88",
        "type": "switch",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "property": "check_room_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 940,
        "y": 328,
        "wires": [
            [
                "7a0e7ca7.36a0d4"
            ],
            [
                "17c0bf15.19d3b1"
            ]
        ]
    },
    {
        "id": "fcccbef1.513b2",
        "type": "comment",
        "z": "5b5a5284.b8c9bc",
        "name": "The Bot Created the Bot room & Invite Tthe User",
        "info": "",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "2ae7385d.009968",
        "type": "function",
        "z": "5b5a5284.b8c9bc",
        "name": "url",
        "func": "msg.url = \"https://\"+env.get('BASE_URL')+`/_matrix/client/r0/createRoom?access_token=${msg.bot_access_token}` //\n\nmsg.headers ={\n    \"Content-type\": \"application/json\"\n}\n\nmsg.payload = {\n    \"preset\": \"trusted_private_chat\",\n    \"visibility\": \"private\",\n    \"topic\": msg.app_name ? msg.app_name : 'My best app' + \"Configuration room\",\n    \"invite\": [\n        global.get(\"user_id\")\n    ],\n    \"name\": msg.app_name ? msg.app_name : 'My best app' + \"Configuration room\",\n    \"is_direct\": false,\n    \"initial_state\": [\n        {\n            \"content\": {\n                \"guest_access\": \"can_join\"\n            },\n            \"type\": \"m.room.guest_access\",\n            \"state_key\": \"\"\n        }\n    ]\n}\n\n\nreturn msg;\n\n//",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 695,
        "y": 540,
        "wires": [
            [
                "1eeaa592.63a59a"
            ]
        ],
        "l": false
    },
    {
        "id": "1eeaa592.63a59a",
        "type": "http request",
        "z": "5b5a5284.b8c9bc",
        "name": "TEKOS API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 755,
        "y": 540,
        "wires": [
            [
                "2a96e83e.0c48f8",
                "b7b92eae.aa05e"
            ]
        ],
        "l": false
    },
    {
        "id": "2a96e83e.0c48f8",
        "type": "debug",
        "z": "5b5a5284.b8c9bc",
        "name": "Room is created",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 795,
        "y": 580,
        "wires": [],
        "l": false
    },
    {
        "id": "95d24b43.c66768",
        "type": "link in",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "links": [
            "17c0bf15.19d3b1"
        ],
        "x": 395,
        "y": 540,
        "wires": [
            [
                "2ae7385d.009968"
            ]
        ]
    },
    {
        "id": "ce8078e3.ba87b8",
        "type": "comment",
        "z": "5b5a5284.b8c9bc",
        "name": "Bot is Created and invited to the room",
        "info": "",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "e7d64779.20dc38",
        "type": "link in",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "links": [
            "7a0e7ca7.36a0d4"
        ],
        "x": 405,
        "y": 400,
        "wires": [
            [
                "596e0a9e.cad3a4"
            ]
        ]
    },
    {
        "id": "7a0e7ca7.36a0d4",
        "type": "link out",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "links": [
            "e7d64779.20dc38",
            "7bd0c228.4ef3cc"
        ],
        "x": 1045,
        "y": 308,
        "wires": []
    },
    {
        "id": "17c0bf15.19d3b1",
        "type": "link out",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "links": [
            "95d24b43.c66768",
            "3fe07605.92c25a"
        ],
        "x": 1045,
        "y": 348,
        "wires": []
    },
    {
        "id": "fe0f6b27.852d78",
        "type": "function",
        "z": "5b5a5284.b8c9bc",
        "name": "Change name",
        "func": "flow.set(\"$parent.bot.app_name\",msg.app_name)\n\nmsg.url = \"https://\"+env.get('BASE_URL')+'/_matrix/client/r0/profile/' +flow.get(\"$parent.bot.bot_id\")+ '/displayname?access_token='+flow.get(\"$parent.bot.bot_access_token\")\nmsg.payload={\n\n  \"displayname\": msg.app_name\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1120,
        "y": 40,
        "wires": [
            [
                "753be33a.734bbc"
            ]
        ]
    },
    {
        "id": "753be33a.734bbc",
        "type": "http request",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1235,
        "y": 40,
        "wires": [
            [
                "ac27361f.3c78f8"
            ]
        ],
        "l": false
    },
    {
        "id": "8ebaca0b.8d5458",
        "type": "function",
        "z": "5b5a5284.b8c9bc",
        "name": "change avatar (mxc)",
        "func": "flow.set(\"$parent.bot.app_avatar\",msg.payload.content_uri)\nmsg.url = \"https://\"+env.get('BASE_URL')+'/_matrix/client/r0/profile/' +flow.get(\"$parent.bot.bot_id\")+ '/avatar_url?access_token='+flow.get(\"$parent.bot.bot_access_token\")\nmsg.payload={\n  \"avatar_url\": msg.payload.content_uri\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1520,
        "y": 100,
        "wires": [
            [
                "2de9fdad.a368f2"
            ]
        ]
    },
    {
        "id": "2de9fdad.a368f2",
        "type": "http request",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1655,
        "y": 100,
        "wires": [
            [
                "537ad3cf.0d3e3c"
            ]
        ],
        "l": false
    },
    {
        "id": "ac27361f.3c78f8",
        "type": "debug",
        "z": "5b5a5284.b8c9bc",
        "name": "Change bot name",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1295,
        "y": 40,
        "wires": [],
        "l": false
    },
    {
        "id": "22cc0b46.e23464",
        "type": "function",
        "z": "5b5a5284.b8c9bc",
        "name": "upload",
        "func": "msg.url = \"https://\"+env.get('BASE_URL')+\"/_matrix/media/r0/upload?filename=avatar.jpg&access_token=\"+flow.get('$parent.bot.bot_access_token')\n\nmsg.headers ={\n \"Content-type\": \"image/jpeg\"\n}\nvar base64data = msg.payload;\nbase64data = new Buffer(base64data, \"base64\");\nmsg.payload = base64data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1260,
        "y": 100,
        "wires": [
            [
                "85c2e216.cd6d8"
            ]
        ]
    },
    {
        "id": "85c2e216.cd6d8",
        "type": "http request",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1345,
        "y": 100,
        "wires": [
            [
                "8ebaca0b.8d5458",
                "37c80322.55ab9c",
                "bfb1ef23.9654e"
            ]
        ],
        "l": false
    },
    {
        "id": "37c80322.55ab9c",
        "type": "debug",
        "z": "5b5a5284.b8c9bc",
        "name": "Avatar to mxc",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 140,
        "wires": []
    },
    {
        "id": "8382d663.8d59d8",
        "type": "switch",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "property": "app_avatar",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 100,
        "wires": [
            [
                "97bfd81b.808f78"
            ],
            []
        ]
    },
    {
        "id": "537ad3cf.0d3e3c",
        "type": "debug",
        "z": "5b5a5284.b8c9bc",
        "name": "Change bot avatar",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 100,
        "wires": []
    },
    {
        "id": "d749740f.8aea18",
        "type": "switch",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "property": "app_name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 40,
        "wires": [
            [
                "fe0f6b27.852d78"
            ],
            []
        ]
    },
    {
        "id": "37c0f568.ae601a",
        "type": "link in",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "links": [
            "6ffd4f94.7fb67",
            "10de0722.3e5be9",
            "bd3ab9d1.85ede8",
            "add0e384.33014"
        ],
        "x": 855,
        "y": 80,
        "wires": [
            [
                "8382d663.8d59d8",
                "d749740f.8aea18"
            ]
        ]
    },
    {
        "id": "b7b92eae.aa05e",
        "type": "function",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "func": "flow.set(\"$parent.bot.default_room\",msg.payload.room_id)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 920,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "10de0722.3e5be9",
        "type": "link out",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "links": [
            "37c0f568.ae601a"
        ],
        "x": 915,
        "y": 180,
        "wires": []
    },
    {
        "id": "66a1f784.267978",
        "type": "function",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "func": "flow.set(\"$parent.bot.bot_id\",msg.bot_id)\nflow.set(\"$parent.bot.bot_access_token\",msg.bot_access_token)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 850,
        "y": 228,
        "wires": [
            [
                "10de0722.3e5be9",
                "fc924515.de8ad8"
            ]
        ]
    },
    {
        "id": "fc924515.de8ad8",
        "type": "delay",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 870,
        "y": 288,
        "wires": [
            [
                "f83e44bf.4b6e88"
            ]
        ]
    },
    {
        "id": "97bfd81b.808f78",
        "type": "jimp-image",
        "z": "5b5a5284.b8c9bc",
        "name": "Avatar",
        "data": "app_avatar",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "256",
        "parameter1Type": "num",
        "parameter2": "256",
        "parameter2Type": "num",
        "parameter3": "RESIZE_BICUBIC",
        "parameter3Type": "resizeMode",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 3,
        "jimpFunction": "resize",
        "selectedJimpFunction": {
            "name": "resize",
            "fn": "resize",
            "description": "resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).",
            "parameters": [
                {
                    "name": "w",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the width to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "h",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the height to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "a scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 1110,
        "y": 100,
        "wires": [
            [
                "22cc0b46.e23464"
            ]
        ]
    },
    {
        "id": "961fd5fa.cedaa8",
        "type": "debug",
        "z": "5b5a5284.b8c9bc",
        "name": "Bot already exists in the flow",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 435,
        "y": 120,
        "wires": [],
        "l": false
    },
    {
        "id": "3dc56879.8d0568",
        "type": "function",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "func": "if(flow.get(\"$parent.bot.default_room\") == null){\n    msg.bot_access_token = flow.get(\"$parent.bot.bot_access_token\")\n    return [msg,msg]\n}\nreturn [msg,null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 120,
        "wires": [
            [
                "32a7fe28.8c5f12"
            ],
            [
                "1cbd056f.b31d0b"
            ]
        ]
    },
    {
        "id": "1cbd056f.b31d0b",
        "type": "link out",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "links": [
            "95d24b43.c66768"
        ],
        "x": 755,
        "y": 140,
        "wires": []
    },
    {
        "id": "32a7fe28.8c5f12",
        "type": "link out",
        "z": "5b5a5284.b8c9bc",
        "name": "",
        "links": [
            "37c0f568.ae601a"
        ],
        "x": 755,
        "y": 100,
        "wires": []
    },
    {
        "id": "bfb1ef23.9654e",
        "type": "function",
        "z": "5b5a5284.b8c9bc",
        "name": "Change room Avatar",
        "func": "msg.url = \"https://\"+env.get(\"BASE_URL\")+'/_matrix/client/r0/rooms/' +flow.get(\"$parent.bot.default_room\")+ '/state/m.room.avatar?access_token='+flow.get('$parent.bot.bot_access_token')\n\nmsg.payload={\n    url: msg.payload.content_uri\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 60,
        "wires": [
            [
                "da4842ae.e1e1d"
            ]
        ]
    },
    {
        "id": "da4842ae.e1e1d",
        "type": "http request",
        "z": "5b5a5284.b8c9bc",
        "name": "Change room Avatar",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1655,
        "y": 60,
        "wires": [
            []
        ],
        "l": false
    }
]

}